@font-face {
  font-family: 'Roboto';
  src:url('/fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:url('/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:url('/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:url('/fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:url('/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:url('/fonts/Roboto/Roboto-Black.ttf');
  font-weight: 800;
  font-style: normal;
}