$white: #FAF8F8;
$teal: #17EAD9;
$blue: #6078EA;
$black: #312f2f;

body {
  background: $white;
}

.header {
  color: $black;
  font-weight: 100;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 2rem 1rem;

  h1 {
    font-size: 5rem;
    width: 100%;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: $black;

    img {
      margin: 0 0.5rem;
      height: 30px;
    }
  }
}

.content {
  padding: 0 1rem 2rem;
  color: $white;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  align-items: flex-start;
}

.data-block {
  background-color: $black;
  display: flex;
  max-width: 450px;
  flex-wrap: wrap;
  padding: 1rem 0 0 1rem;
  border-radius: 5px;
  flex-shrink: 0;
  overflow: hidden;

  .entry {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .label {
    color: rgba($white, 0.5);
    width: 100%;
    margin-right: 1rem;

    &.style .field {
      height: 42px;
      font-size: 1rem;
      background: none;
      color: $white;
    }
    &.goal {
      min-width: 70%;
    }
    .aside {
      font-size: 0.6rem;
    }
  }
  .field {
    border: 1px solid $white;
    padding: 0.7rem 0 0.7rem 1rem;
    outline: none;
    border-radius: 5px;
    background: none;
    color: $white;
    font-size: 1rem;
    width: 100%;
    margin-top: 0.5rem;

    &:focus {
      border-color: $teal;
      background-color: rgba($white, 0.2);
      box-shadow: 0 0 0 1px $teal;
    }
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% + 1rem);
    background-color: lighten($black, 5%);
    margin-left: -1rem;
    padding: 1rem;
  }
  .generate {
    border: 1px solid $teal;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    color: $teal;
    text-decoration: none;
    margin-right: 1rem;

    &:hover {
      background-color: $teal;
      color: $black;
      cursor: pointer;
    }
    &.loading {
      text-indent: -9999px;
      background: url('images/loaders/puff.svg') no-repeat center;
      background-size: auto 90%;
    }
  }
  .url {
    background: none;
    appearance: none;
    border: none;
    font-size: 1rem;
    color: rgba($white, 0.5);
    outline: none;
    @extend %elip;
  }
}

.image {
  width: 100%;
  border: 1px solid $teal;
  margin-left: 1rem;
  border-radius: 5px;
  overflow: hidden;
  min-height: 100px;
  background: $teal;

  img {
    width: 100%;
    display: block;
  }
  &.loading {
    background: $teal url('images/loaders/puff.svg') no-repeat center;

    img {
      opacity: 0;
    }
  }
}

.disclaimer {
  padding: 2rem 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: $black;
  background-color: darken($white, 5%);

  a {
    color: rgba($blue, 0.8);

    &:hover {
      color: $blue;
    }
  }
}

@include breakpoint(1000px) {
  .content {
    flex-wrap: wrap;
  }
  .data-block {
    max-width: 100%;
    margin-bottom: 1rem;

    .aside {
      display: none;
    }
  }
  .image {
    margin-left: 0;
  }
}