$white: #FAF8F8;
$teal: #17EAD9;
$blue: #6078EA;
$black: #312f2f;

body {
  background: $white;
}

.content {
  padding: 1rem;
  color: $white;
  display: flex;
  font-size: 16px;
  align-items: flex-start;
}

.data-block {
  background-color: $black;
  font-weight: 500;
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
  padding: 1rem 0 0 1rem;
  border-radius: 5px;
  flex-shrink: 0;
  overflow: hidden;

  .entry {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .label {
    color: rgba($white, 0.5);
    width: 100%;
    margin-right: 1rem;

    &.style .field {
      height: 42px;
      font-size: 1rem;
      background: none;
      color: $white;
    }
    &.goal {
      min-width: 70%;
    }
  }
  .field {
    border: 1px solid $white;
    padding: 0.7rem 0 0.7rem 1rem;
    outline: none;
    border-radius: 5px;
    background: none;
    color: $white;
    font-size: 1rem;
    width: 100%;
    margin-top: 0.5rem;

    &:focus {
      border-color: $teal;
      background-color: rgba($white, 0.2);
      box-shadow: 0 0 0 1px $teal;
    }
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% + 1rem);
    background-color: lighten($black, 5%);
    margin-left: -1rem;
    padding: 1rem;
    flex-wrap: wrap;
  }
  .generate {
    border: 1px solid $teal;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    color: $teal;
    text-decoration: none;
    margin-bottom: 1rem;

    &:hover {
      background-color: $teal;
      color: $black;
      cursor: pointer;
    }
    &.loading {
      text-indent: -9999px;
      background: url('images/loaders/puff.svg') no-repeat center;
      background-size: auto 90%;
    }
  }
  .url {
    width: 100%;
    background: none;
    appearance: none;
    border: none;
    font-size: 1rem;
    color: rgba($white, 0.5);
    outline: none;
    @extend %elip;
  }
}

.image {
  width: calc(100% - 500px);
  border: 1px solid $teal;
  margin-left: 1rem;
  border-radius: 5px;
  overflow: hidden;
  min-height: 100px;
  background: $teal;

  img {
    width: 100%;
    display: block;
  }
  &.loading {
    background: $teal url('images/loaders/puff.svg') no-repeat center;

    img {
      opacity: 0;
    }
  }
}