$white: #FAF8F8;
$teal: #00ff75;
$blue: #009dff;
$black: #282b35;
$purple: #a172c6;

.graph {
  position: relative;
}

svg {
  background: linear-gradient(to top left, adjust-hue($blue, 5), $blue);

  text {
    fill: $white;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    letter-spacing: 0.03rem;
  }
  .area {
    fill: rgba($white, 0.1);
  }
  .line {
    stroke: $white;
  }
  .tick line {
    stroke: rgba($white, 0.1);
  }
  .axis--x .tick:last-of-type text {
    text-anchor: end !important;
  }
}