// Core Colors
$black: #242E35;
$body: #4f565c;
$blue: #2693D5;
$moon: #f0f5f7;
$white: #FFFFFF;

// Core Secondary Colors
$green: #21BA6E;
$red: #E23C3F;
$yellow: #FED049;
$orange: #FD7F3B;

// Core Tertiary Colors
$purple: #7e6bd0;
$unicorn: #ab67e6;
$teal: #4fc4d4;
$grass: #20b58e;
$pink: #eb89d3;
$salmon: #ec5685;
$mustard: #EFC663;
$note: #fffbf3;

// Core Grayscale Colors
$rhino: #2c4d62;
$rabbit: #737C81;
$rat: #a1abb3;
$mouse: #dae1e3;
$mite: #f7f9fa;