<template name="home">
  <div class="content">
    <div class="data-block">
      <div class="entry">
        <label class="label">Start
          <input class="field int" type="text" name="start" value="{{start}}" placeholder="87654321">
        </label>

        <label class="label">Step
          <input class="field int" type="text" name="step" value="{{step}}" placeholder="864">
        </label>
      </div>

      <div class="entry data">
        <label class="label">Data
          <input class="field int" type="text" name="data" value="{{data}}" placeholder="43991,101,47,78,-14,-30,-5,12,9,-3">
        </label>
      </div>

      <div class="entry">
        <label class="label style">Style
          <select class="field" name="style">
            <option value="default" selected>Default</option>
            <option value="email">Email</option>
          </select>
        </label>

        <label class="label goal" style="display: none;">Goal
          <input class="field" type="text" name="goal" value="{{goal}}" placeholder="14578940,43891,14586716,44271">
        </label>

        <label class="label symbol">Symbol
          <input class="field" type="text" name="symbol" value="{{symbol}}" placeholder="$^ // $1,000">
        </label>
      </div>

      <div class="entry">
        <label class="label">Width
          <input class="field int" type="text" name="w" value="{{w}}" placeholder="800">
        </label>

        <label class="label">Height
          <input class="field int" type="text" name="h" value="{{h}}" placeholder="400">
        </label>
      </div>

      <div class="action">
        <a class="generate" href="javascript:void(0)">Generate Image</a>

        <input class="url" type="text" name="url" value="https://chart.baremetricscdn.com/?v=3&start=14579804&step=864&data=[43991,101,47,78,-14,-30,-5,12,9,-3]&style=default&symbol=$^&goal=[14578940,43891,14588444,44271]&w=800&h=400">
      </div>
    </div>

    <div class="image">
      <img src="https://chart.baremetricscdn.com/?v=3&start=14579804&step=864&data=[43991,101,47,78,-14,-30,-5,12,9,-3]&style=default&symbol=$^&goal=[14578940,43891,14588444,44271]&w=800&h=400">
    </div>
  </div>
</template>