<template name="home">
  <div class="header">
    <h1>BarePNG</h1>

    <a class="logo" href="https://baremetrics.com">by <img src="/images/logo.svg" alt="Baremetrics"></a>

    <a class="github-button" href="https://github.com/baremetrics/barepng" data-style="mega" data-count-href="/baremetrics/barepng/stargazers" data-count-api="/repos/baremetrics/barepng#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star baremetrics/barepng on GitHub">Star</a>

    <a class="heroku-button" href="https://heroku.com/deploy?template=https://github.com/baremetrics/barepng/tree/public">
      <img src="https://www.herokucdn.com/deploy/button.svg" alt="Deploy">
    </a>
  </div>

  <div class="content">
    <div class="data-block">
      <div class="entry">
        <label class="label">Start <span class="aside">Start date for data</span>
          <input class="field int" type="text" name="start" value="{{start}}" data-max="99999999" placeholder="14578940">
        </label>

        <label class="label">Step <span class="aside">Loop interval to add to start date</span>
          <input class="field int" type="text" name="step" value="{{step}}" data-max="999999" placeholder="864">
        </label>
      </div>

      <div class="entry data">
        <label class="label">Data <span class="aside">Initial value followed by a list numbers to add to the sum of any previous numbers</span>
          <input class="field" type="text" name="data" value="{{data}}" placeholder="43991,101,47,78,-14,-30,-5,12,9,-3">
        </label>
      </div>

      <div class="entry">
      <label class="label symbol">Symbol <span class="aside">$^ = $1,000</span>
          <input class="field" type="text" name="symbol" value="{{symbol}}" placeholder="^%25 = 10%">
        </label>

        <label class="label">Image Width <span class="aside">0 - 2000</span>
          <input class="field int" type="text" name="w" value="{{w}}" data-max="2000" placeholder="800">
        </label>

        <label class="label">Image Height <span class="aside">0 - 2000</span>
          <input class="field int" type="text" name="h" value="{{h}}" data-max="2000" placeholder="400">
        </label>
      </div>

      <div class="action">
        <a class="generate" href="javascript:void(0)">Generate Image</a>
        <div class="url"></div>
      </div>
    </div>

    <div class="image loading">
      <img src="">
    </div>
  </div>

  <p class="disclaimer">We are using free hosting for this site so don't expect any miracles or use images generated here for anything you actually need to work. This is just a fun little project created from the tech developed for our <a href="https://slack.com/apps/A0PSKV32Q-baremetrics">Slack</a> and email graphs. If you actually need this for a production project download this app off <a href="https://github.com/baremetrics/barepng">GitHub</a> and set it up on your own servers or use a service like <a href="https://charturl.com/">ChartURL</a>.</p>

  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</template>